/*Formas redondeadas*/
.boton_curveado {
    -fx-text-fill: white; /* Color del texto del botón */
    -fx-background-radius: 15; /* Radio de los bordes curvados */
    -fx-border-radius: 5; /* Radio de los bordes del borde */
    -fx-border-width: 2; /* Ancho del borde del botón */
}
.boton_curveado2{
    -fx-text-fill: white; /* Color del texto del botón */
    -fx-background-radius: 7; /* Radio de los bordes curvados */
    -fx-border-radius: 7; /* Radio de los bordes del borde */
    -fx-border-width: 2; /* Ancho del borde del botón */
}

